@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
{
    <p>Hello, Administrator</p>

    <form method="post" asp-controller="Users" asp-action="Index">
        <input type="submit" value="@Localizer["Users"]" />
    </form>
    <form method="post" asp-controller="Theme" asp-action="Index">
        <input type="submit" value="@Localizer["Themes"]" />
    </form>
}