@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CrowdFundingApp.ViewModels.ThemesViewModel
@{
    ViewData["Title"] = "Create Theme";
}

<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Create" asp-controller="Theme">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="themeName" class="control-label">@Localizer["ThmeName"]</label>
                <input type="text" asp-for="themeName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Add"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
