@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    <form method="post" asp-controller="Home" asp-action="toCompany">
        <input type="submit" value="Company" />
    </form>
    <form method="post" asp-controller="Home" asp-action="toUsers">
        <input type="submit" value="Users" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}