@model CrowdFundingApp.ViewModels.CreateCompanyViewModel
@{
    ViewBag.Title = "Create new company";
}
    <form asp-action="Create" asp-controller="Company">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="companyName" class="control-label">Name</label>
            <input type="text" asp-for="companyName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="needDonate" class="control-label">Funding</label>
            <input type="text" asp-for="needDonate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="endDate" class="control-label">End Date</label>
            <input type="text" asp-for="endDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="about" class="control-label">About</label>
            <input type="text" asp-for="about" class="form-control" />
        </div>

        <div>
            <select asp-for="theme">
                <option disabled selected>Choise theme</option>
                @foreach (ThemeList themeList in Model.themeList)
                {
                    <option value="@themeList.themeId">@themeList.themeName</option>
                }
            </select>
        </div>

        <div>
            <div id="tags">
                <label id="last">Tags: </label>
            </div>

            <label>Write Tags</label>
            <input id="inputLine" type="text" />

        </div>
        <div id="addTag" class="btn btn-outline-secondary" onclick="addTag()">Add tag</div>

        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-outline-secondary" />
        </div>
    </form>

@section Scripts {
    <script>
        let i = 0;
        let lastItem = document.getElementById('last');
        function addTag() {
            let newDivTag = document.createElement("div");
            let tag = document.createElement("input");
            let getTagValue = document.getElementById('inputLine').value;
            newDivTag.id = "tagId_" + i;
            newDivTag.setAttribute('class', 'tag');
            tag.setAttribute('name', 'tags[' + i + ']');
            tag.setAttribute('value', getTagValue);
            tag.setAttribute('hidden', 'true');
            newDivTag.innerHTML = getTagValue;
            newDivTag.append(tag);
            lastItem.append(newDivTag);
            i++
        }

    </script>
}